<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<script src="../bower_components/page/page.js"></script>
<script>
  window.addEventListener('WebComponentsReady', function() {

    // We use Page.js for routing. This is a Micro
    // client-side router inspired by the Express router
    // More info: https://visionmedia.github.io/page.js/

    // Removes end / from app.baseUrl which page.base requires for production
    if (window.location.port === '') {  // if production
      page.base(app.baseUrl.replace(/\/$/, ''));
    }

    // Middleware
    function scrollToTop(ctx, next) {
      app.scrollPageToTop();
      next();
    }

    function closeDrawer(ctx, next) {
      app.closeDrawer();
      next();
    }

    // Routes
    page('*', scrollToTop, closeDrawer, function(ctx, next) {
      next();
    });

    page('/', function() {
      app.route = 'home';
      app.header = 'Home';
    });

    page(app.baseUrl, function() {
      app.route = 'home';
      app.header = 'Home';
    });

    page('/group/:number', function(data) {
      app.route = 'group_letters';
      app.group_number = ~~data.params.number;
      app.header = app.groups[app.group_number].short;
      var firstLetter = function(str) {
        return str.replace(/^_*([^_])[\s\S]*$/, "$1").toLowerCase();
      }
      var firstLetters = app.pages['man' + app.group_number].map(firstLetter);
      app.letter_list = Array.from(new Set(firstLetters)).sort();
    });

    page('/group/:number/:letter', function(data) {
      app.route = 'group_list';
      app.group_number = ~~data.params.number;
      app.group_letter = data.params.letter;
      app.header = app.groups[app.group_number].short + ' — ' + app.group_letter;
      var regex = RegExp("^_*" + app.group_letter);
      app.pages_list = app.pages['man' + app.group_number].filter(regex.test.bind(regex));
    });

    page('/page/:name', function(data) {
      app.route = 'page';
      app.page_name = data.params.name;
      app.header = data.params.name;
      app.load_and_parse(data.params.name);
    });

    // 404
    page('*', function() {
      app.$.toast.text = 'Can\'t find: ' + window.location.href  + '. Redirected you to Home Page';
      app.$.toast.show();
      page.redirect(app.baseUrl);
    });

    // add #! before urls
    page({
      hashbang: true
    });

  });
</script>
